

{% extends 'base.html' %}
<html>
<head>
  {% block title %}compliment{% endblock %}
</head>
<body>
  {% block content %}
    Hi {{ person }}! today you look very
    <ul>
    {% for compliment in compliments %}
      <li>{{ compliment }}</li>
    {%endfor%}
  </ul>
    
    Would you like to play a game?
    <form action="/game">
    <select name="game">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>
    <input type="submit" value="Submit button">
    </form>
  {% endblock %}
  </body>

</html>