<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/madlib">
       <div> 
            <input type="checkbox" name="color" value="green">
            <label>Green</label>
            <input type="checkbox" name="color" value="red">
            <label>Red</label>
        </div>
        
        <div>
            Enter a name please<input type="text" name="name">
        </div>
        <div>
            Enter a noun please <input type="text" name="noun">
        </div>
        <div>Enter an adjective please <input type="text" name="adjective"></div>

        <input type="submit" value="Submit your input">
    </form>
    
</body>
</html>